<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <title>Floppy Whale</title>
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='assets/whale.png') }}"
            type="image/x-icon"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles/game.css') }}"
        />
        <script
            src="{{ url_for('static', filename='scripts/game.js') }}"
            defer
        ></script>
    </head>
    <body>
        <div id="rotate-phone">
            <img
                src="{{ url_for('static', filename='assets/rotate-phone.gif') }}"
                alt=""
            />
        </div>

        <div id="infos-container" class="info-box">
            <div style="margin-bottom: 5px">Player: {{ username }}</div>
            <div id="record" style="margin-bottom: 10px">
                Best score: {{ score }}
            </div>
            <div
                id="score"
                style="padding-top: 10px; border-top: 3px dashed white"
            >
                Score: 0
            </div>
        </div>

        <div id="menu-icon-container" class="info-box">
            <img
                style="width: 60px"
                src="{{ url_for('static', filename='assets/burger-menu.svg') }}"
                alt="Menu"
            />
        </div>

        <img
            id="island"
            src="{{ url_for('static', filename='assets/island.svg') }}"
            alt=""
            aria-hidden="true"
        />

        <img
            id="boat"
            src="{{ url_for('static', filename='assets/boat.png') }}"
            alt=""
            aria-hidden="true"
        />

        <div id="menu-container">
            <div id="menu-overlay">
                <button class="btn-primary" id="resume">Resume</button>
                <button class="btn-primary" id="leaderboard">
                    Leaderboard
                </button>
                <button class="btn-primary" id="logout">Logout</button>
            </div>
        </div>

        <div id="water">
            <h1 id="press-space">Press start to space</h1>

            <div id="player">
                <img
                    src="{{ url_for('static', filename='assets/whale.png') }}"
                    alt="Whale"
                />
                <progress id="oxygen-bar" value="100" max="100"></progress>
            </div>
        </div>
    </body>
</html>
